/* Index */
.body1{
    background-color: #dc4f4f;
    padding: 0px;
    margin: 0px;
    border: 0px;
    flex-wrap: wrap;
}
.contenedor-index {
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: #dc4f4f;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}
.header-index {
    padding: 0px;
    margin: 0px;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dc4f4f;
    grid-area: 1 / 1 / 2 / 4;
    
}
/* El navegador funciona para todas las paginas */
.navegador {
    grid-area: 2 / 1 / 3 / 4;
    border: 0px;
}
.navegador ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    background-color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size: 20px;
      
}
.navegador ul li{
    display: inline-block;
    
}
.navegador ul li a{
    padding:10px;
    color: #dc4f4f;
    text-decoration: none;
    display: block;
}
.navegador ul li a:hover{
    background-color: rgb(240, 218, 214);
}
.texto1 {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0px;
    font-size: 40px;
    background-color: #dc4f4f;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    grid-area: 3 / 2 / 4 / 4;
    border: 0px;
    max-width: 1000px;
    animation-name: movimiento-1;
    animation-delay: 1s;
    animation-duration: 2s;
    
}
.imagen1 {
    background-color: #dc4f4f;
    padding: 0px 0px 200px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 4 / 2 / 5 / 4;
    border: 0px;
}
.pedidoyplasticos {
    background-color: #575757;
    margin: 0px 0px 0px;
    padding: 10px;
    font-size: 20px;
    display: block;
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    grid-area: 3 / 1 / 5 / 2;
    border: 0px;
    min-width: 100px;
}
.footerhome {
    grid-area: 5 / 1 / 6 / 4;
    padding: 10px;
    margin: 0px;
    background-color: #2e2e2e;
    color: #a9a9a9;
    border: 1px solid #2e2e2e;
    justify-content: center;
}
.footerhome ul {
    justify-content: center;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size: 12px;
    min-width: 200px;
}
.footerhome ul li {
    display: inline-block;
    width: 200px;
}
.footerhome ul li a{
    padding:20px 20px;
    text-decoration: none;
    display: inline-block;
    
}
/* Css de Contacto */
.bodycontacto {
    background-color: #2D2856;
    padding: 0px;
    margin: 0px;
    border: 0px;
}
.headercontacto {
    color: #ffffff;
    display: flex;
    flex-direction: row;  
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 70px;
    padding: 0px;
}
.form {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    padding: 20px;
    font-size: 20px;
}
.form input{
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}
.form button {
    color: #000000;
    padding: 10px 10px;
    border-bottom: 20px;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-variant: unset;
}
.mail {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 30px;
    background-color: #958fc2;
    display: flex;
    justify-content: center;
}
/* Css de Ubicacion */
.bodyubicacion {
    background-color: #2D2856;
    padding: 0px;
    margin: 0px;
    border: 0px;

}   
.texto2 {
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.ubicacion {
    color: black;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}
/* Css de Redes */
.bodyredes {
    background-color: #2D2856;
    

}
.headerredes {
    color: #ffffff;
    display: flex;
    flex-direction: row;  
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 70px;
    padding: 0px;
}
.listaredes ul{
    padding: 30px;
    margin: 0px;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size: larger; 
}
.listaredes ul li{
    display: flex;
    justify-content: center;
    
}
.listaredes ul li a {

    padding: 30px;

}
/* Css de Los pedidos */
.bodypedidos {
    background-color: #2c537b;
    padding: 0px;
    margin: 0px;
    border: 0px;
}
.headerpedidos {
    color: #ffffff;
    display: flex;
    flex-direction: row;  
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 70px;
    padding: 10px;
    justify-content: center;
}
.formulariopedidos {
    padding: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    padding: 20px;
    font-size: 20px;
}
.formulariopedidos input{
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}
.formulariopedidos button {
    color: #000000;
    padding: 10px 10px;
    border-bottom: 20px;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-variant: unset;
}
/* css de Materiales */
.bodymateriales {
    background-color: #622c7b;
    padding: 0px;
    margin: 0px;
    border: 0px;
}
.headermateriales {
    color: #ffffff;
    display: flex;
    flex-direction: row;  
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 70px;
    padding: 10px;
    justify-content: center;
}
.tabla {
    background-color: #958fc2;
}
table {
    margin:20px auto;
    width: 600px;
    background-color: #ffffff;
    border-collapse: collapse;
}
th, td {
    border: solid 1px black;
    padding: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.encabezados {
    background-color: #b9b3e9;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000000;
    font-size: 20px;
    border-bottom: solid 5px #5244b7;
}

@media screen and (max-width: 768px) {
    .navegador ul{
        font-size: 30px;
        
    }
    .pedidoyplasticos{
        font-size: 25px;
    }
    .footerhome ul {
        font-size: 15px;
    }
}
@keyframes movimiento-1 {
    0% {
        color: #dc4f4f;
    }
    100% {
        color: #ffffff;
    }
}